.about-text {
  color: white;
  margin-bottom: 30px;
  margin: 20px;
}

.about-title {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 400;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.p {
  line-height: 1.6;
  margin: 20px;
}
/* <div className="wrapper">
      <motion.div
        className="container-fluid p-0"
        animate={{ x: 0 }}
        initial={{ x: 300 }}
        transition={{ duration: 2 }}
      >
        <div className="row">
          <div className="position-relative">
            <img
              src={process.env.PUBLIC_URL + "./images/aboutbg.jpg"}
              className="img-fluid"
              alt="Background Image"
            />
            <div className="about position-relative translate-middle text-center">
              <h1>Heading</h1>
              <p>Some text goes here.</p>
            </div>
          </div>
        </div>
      </motion.div>

      <motion.div
        className="container py-5"
        animate={{ x: 0 }}
        initial={{ x: -300 }}
        transition={{ duration: 2 }}
      >
        <h1 className="text-center mb-5">Skills</h1>
        <div className="row row-cols-1 row-cols-md-3 g-4">
          <div className="col">
            <div className="card h-100">
              <img
                src={process.env.PUBLIC_URL + "./images/html-css.png"}
                className="card-img-top"
                alt="HTML"
              />
              <div className="card-body">
                <h5 className="card-title">HTML/CSS</h5>
                <p className="card-text">
                  HTML is a markup language used to create the structure of a
                  website.
                </p>
              </div>
            </div>
          </div>

          <div className="col">
            <div className="card h-100">
              <img
                src={
                  process.env.PUBLIC_URL + "./images/javascript-typescript.jpg"
                }
                className="card-img-top"
                alt="CSS"
              />
              <div className="card-body">
                <h5 className="card-title">JAVA SCRIPT</h5>
                <p className="card-text">
                  CSS is a styling language used to make websites look visually
                  appealing.
                </p>
              </div>
            </div>
          </div>

          <div className="col">
            <div className="card h-100">
              <img
                src={process.env.PUBLIC_URL + "./images/frameworks.png"}
                className="card-img-top"
                alt="JavaScript"
              />
              <div className="card-body">
                <h5 className="card-title">
                  FRAMEWORKS - ANGULAR, REACT, REACT NATIVE, VUE JS
                </h5>
                <p className="card-text">
                  JavaScript is a programming language used to create dynamic
                  website behavior and interactivity.
                </p>
              </div>
            </div>
          </div>

          <div className="col">
            <div className="card h-100">
              <img
                src="https://via.placeholder.com/300x200"
                className="card-img-top"
                alt="JavaScript"
              />
              <div className="card-body">
                <h5 className="card-title">JavaScript</h5>
                <p className="card-text">
                  JavaScript is a programming language used to create dynamic
                  website behavior and interactivity.
                </p>
              </div>
            </div>
          </div>

          <div className="col">
            <div className="card h-100">
              <img
                src="https://via.placeholder.com/300x200"
                className="card-img-top"
                alt="JavaScript"
              />
              <div className="card-body">
                <h5 className="card-title">JavaScript</h5>
                <p className="card-text">
                  JavaScript is a programming language used to create dynamic
                  website behavior and interactivity.
                </p>
              </div>
            </div>
          </div>

          <div className="col">
            <div className="card h-100">
              <img
                src="https://via.placeholder.com/300x200"
                className="card-img-top"
                alt="JavaScript"
              />
              <div className="card-body">
                <h5 className="card-title">JavaScript</h5>
                <p className="card-text">
                  JavaScript is a programming language used to create dynamic
                  website behavior and interactivity.
                </p>
              </div>
            </div>
          </div>

  
        /* </div>
      </motion.div>
    </div> */
